DJANGO_SETTINGS_MODULE=config.settings.dev
DJANGO_SECRET_KEY=django-insecure-dle-saas-local-dev-key
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
DJANGO_TIME_ZONE=Europe/Paris

POSTGRES_DB=dle_saas
POSTGRES_USER=dle_saas
POSTGRES_PASSWORD=dle_saas
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_HOST_PORT=5432
POSTGRES_CONN_MAX_AGE=60

BACKEND_PORT=8000
FRONTEND_PORT=5173
VITE_APP_TITLE=DLE-SaaS
VITE_API_BASE_URL=http://localhost:8000/api/v1
